<div class="container">
    <div class="body d-md-flex align-items-center justify-content-between">
        <div class="box-1 mt-md-0 mt-5">
            <img src="../../../assets/image/Add a heading.png">
        </div>
        <div class=" box-2 d-flex flex-column h-100">
            <div class="pb-2mt-2">
                <p class="h-1">Create Account.</p>
                <div class="d-flex flex-column ">
                    <form class="pt-1" [formGroup]="form" (ngSubmit)="formSubmit()">
                        <div class="form-group">
                            <div>
                                <label for="name">Name</label>
                                <input class="form-control p-1" type="text" placeholder="Name" name="name" formControlName="name">
                                <div *ngIf="name?.invalid && (name?.dirty || name?.touched)" class="alert alert-danger">
                                    <div *ngIf="name?.errors?.['required']">
                                        Name is required
                                    </div>
                                </div>
                            </div>
                            <div>
                                <label for="email">Email</label>
                                <input class="form-control p-1" type="text" placeholder="Email" name="email" formControlName="email">
                                <div *ngIf="email?.invalid && (email?.dirty || email?.touched)" class="alert alert-danger">
                                    <div *ngIf="email?.errors?.['required']">
                                        Email is required
                                    </div>
                                    <div *ngIf="email?.errors?.['email']">
                                        Email format is wrong
                                    </div>
                                </div>
                            </div>
                            <div>
                                <label for="password">Password</label>
                                <input class="form-control p-1" type="password" placeholder="Password" name="password" formControlName="password">
                                <div *ngIf="password?.invalid && (password?.dirty || password?.touched)" class="alert alert-danger">
                                    <div *ngIf="password?.errors?.['required']">
                                        Password is required
                                    </div>
                                </div>
                            </div>
                            <div class="pt-2">
                                <div>
                                    <button type="submit" class="submit mt-2 btn btn-primary">Sign Up</button>
                                </div>
                            </div>
                        </div>        
                    </form>
                    <div class="mt-3">
                        <p class="mb-0 text-muted">Already have an account?</p>
                        <div class="btn btn-primary" routerLink="/login">Log in<span class="fas fa-chevron-right ms-1"></span></div>
                    </div>
                </div>
            </div>
            <div class="mt-auto">
                <p class="footer text-muted mb-0 mt-md-0 mt-4">By register you agree with our
                    <span class="p-color me-1">terms and conditions</span>and
                    <span class="p-color ms-1">privacy policy</span>
                </p>
            </div>
        </div>
    </div>
</div>