<div class="container-fluid">
    <div class="row">
        <div class="col-md-2" style="background-color: #ecd7c6;">
            <div class="row">
                <span class="pt-4 ps-4 fs-4">Hi User</span>
            </div>
            <div class="row pt-4">
                <img src="../../../assets/image/profile.png" class="myrepeat vh-100" width="100%">
            </div>
        </div>
        <div class="col-md-10 pt-4 ">
            <div>
                <p class="fs-4">Profile</p>
            </div>
            <div class="d-flex justify-content-center text-center">
                <div class="card" style="width: 18rem; opacity: 100%;">
                    <div>
                        <img src="../../../assets/image/Add a heading.png" class="card-img-top rounded-circle" alt="...">
                    </div>
                    
                    <div class="card-body">
                      <h5 class="card-title">{{user.name}}</h5>
                      <p class="card-text">{{user.email}}</p>
                    </div>
                  </div>
            </div>
        </div>
    </div>
</div>