<div class="container-fluid">
    <div class="row">
        <div class="col-md-2 shadow" style="background-color: #ecd7c6;">
            <div class="row">
                <span class="pt-4 ps-4 fs-4">Hi {{user}}</span>
                <span class="ps-4 fs-6">Saldo kamu sebesar</span>
                <span class="ps-4 fs-6">{{data | currency:'IDR '}}</span>
            </div>
            <div class="row pt-4 ps-5 pe-5">
                <button class="btn btn-indigo shadow" data-bs-toggle="modal" data-bs-target="#newTransactionModal">New
                    Transaction</button>
                <div class="modal fade" id="newTransactionModal" tabindex="-1"
                    aria-labelledby="newTransactionModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="newTransactionModalLabel">New Transaction</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body text-start shadow">
                                <form class="pt-1 text-start justify-content-start" [formGroup]="form" (ngSubmit)="formSubmit()">
                                    <div class="form-group">
                                        <div>
                                            <label for="">Transaction Type</label>
                                            <select class="form-select form-control" name="type" formControlName="type">
                                                <option>---Select Transaction Type</option>
                                                <option *ngFor="let item of types" [value]="item">{{item}}</option>
                                            </select>
                                            <div *ngIf="type?.invalid && (type?.dirty || type?.touched)"
                                                class="alert alert-danger">
                                                <div *ngIf="type?.errors?.['required']">
                                                    Type is required
                                                </div>
                                            </div>
                                        </div>
                                        <div>
                                            <label for="title">Title</label>
                                            <input class="form-control p-1" type="text" placeholder="Title" name="title"
                                                formControlName="title">
                                            <div *ngIf="title?.invalid && (title?.dirty || title?.touched)"
                                                class="alert alert-danger">
                                                <div *ngIf="title?.errors?.['required']">
                                                    Title is required
                                                </div>
                                            </div>
                                        </div>
                                        <div>
                                            <label for="amount">Amount</label>
                                            <input id="rupiah" class="form-control p-1" type="text" placeholder="Amount"
                                                name="amount" formControlName="amount" min="1">
                                            <div *ngIf="amount?.invalid && (amount?.dirty || amount?.touched)"
                                                class="alert alert-danger">
                                                <div *ngIf="amount?.errors?.['required']">
                                                    Amount is required
                                                </div>
                                                <div *ngIf="amount?.errors?.['min']">
                                                    Amount is greater than 0
                                                </div>
                                            </div>
                                        </div>
                                        <div>
                                            <label for="desc">Description</label>
                                            <textarea class="form-control p-1" type="text" placeholder="Description"
                                                name="desc" formControlName="desc"></textarea>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">Close</button>
                                        <input type="submit" class="btn btn-indigo" data-bs-dismiss="modal"
                                            value="Save">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row pt-4">
                <img src="../../../assets/image/transaction.png" class="myrepeat vh-100 shadow">
            </div>
        </div>
        <div class="col-md-5 pt-4">
            <div>
                <p class="fs-4">Income</p>
            </div>
            <div class="justify-content-center">
                <div class="col ms-2 mt-2" *ngFor="let item of Infinance ">
                    <div class="card shadow" style="width: 25rem;" *ngIf="item?.title!==null">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Title: {{item.title}}</li>
                            <li class="list-group-item">Amount: {{item.amount}}</li>
                            <li class="list-group-item">Description: {{item.desc}}</li>
                            <li class="list-group-item">
                                <button type="button" class="btn btn-indigo" data-bs-toggle="modal"
                                    data-bs-target="#editTransactionModal"
                                    (click)="editFinanceIn(item._id)">Edit</button>
                                <button type="button" class="btn btn-danger"
                                    (click)="deleteFinance(item)">Delete</button>
                            </li>
                            <div class="modal fade" id="editTransactionModal" tabindex="-1"
                                aria-labelledby="editTransactionModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title fs-5" id="editTransactionModalLabel">Edit Transaction
                                            </h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body text-start shadow">
                                            <form class="pt-1" [formGroup]="form"
                                                (ngSubmit)="updateFinanceIncome(item._id)">
                                                <div class="form-group">
                                                    <div>
                                                        <label for="">Transaction Type</label>
                                                        <select class="form-select form-control" name="type"
                                                            formControlName="type">
                                                            <option>---Select Transaction Type</option>
                                                            <option *ngFor="let item of types" [value]="item">{{item}}
                                                            </option>
                                                        </select>
                                                        <div *ngIf="type?.invalid && (type?.dirty || type?.touched)"
                                                            class="alert alert-danger">
                                                            <div *ngIf="type?.errors?.['required']">
                                                                Type is required
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div>
                                                        <label for="title">Title</label>
                                                        <input class="form-control p-1" type="text" placeholder="Title"
                                                            name="title" formControlName="title">
                                                        <div *ngIf="title?.invalid && (title?.dirty || title?.touched)"
                                                            class="alert alert-danger">
                                                            <div *ngIf="title?.errors?.['required']">
                                                                Title is required
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div>
                                                        <label for="amount">Amount</label>
                                                        <input id="rupiah" class="form-control p-1" type="text"
                                                            placeholder="Amount" name="amount" formControlName="amount">
                                                        <div *ngIf="amount?.invalid && (amount?.dirty || amount?.touched)"
                                                            class="alert alert-danger">
                                                            <div *ngIf="amount?.errors?.['required']">
                                                                Amount is required
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div>
                                                        <label for="desc">Description</label>
                                                        <textarea class="form-control p-1" type="text"
                                                            placeholder="Description" name="desc"
                                                            formControlName="desc"></textarea>
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary"
                                                        data-bs-dismiss="modal">Close</button>
                                                    <input type="submit" class="btn btn-indigo" data-bs-dismiss="modal"
                                                        value="Save">
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ul>

                    </div>

                </div>

            </div>
        </div>
        <div class="col-md-5 pt-4">
            <div>
                <p class="fs-4">Outcome</p>
            </div>
            <div class="d-flex" *ngFor="let item of Outfinance">
                <div class="row ms-2 mt-2" *ngIf="item?.title!==null">
                    <div class="col ms-2 mt-2" >
                        <div class="card shadow" style="width: 25rem;">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">Title: {{item.title}}</li>
                                <li class="list-group-item">Amount: {{item.amount}}</li>
                                <li class="list-group-item">Description: {{item.desc}}</li>
                                <li class="list-group-item">
                                    <button type="button" class="btn btn-indigo" data-bs-toggle="modal"
                                        data-bs-target="#editTransactionModalOut"
                                        (click)="editFinanceOut(item._id)">Edit</button>
                                    <button type="button" class="btn btn-danger"
                                        (click)="deleteFinance(item)">Delete</button>
                                </li>
                                <div class="modal fade" id="editTransactionModalOut" tabindex="-1"
                                    aria-labelledby="editTransactionModalOutLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h1 class="modal-title fs-5" id="editTransactionModalOutLabel">Edit
                                                    Transaction
                                                </h1>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body text-start shadow">
                                                <form class="pt-1" [formGroup]="form"
                                                    (ngSubmit)="updateFinanceOutcome(item._id)">
                                                    <div class="form-group">
                                                        <div>
                                                            <label for="">Transaction Type</label>
                                                            <select class="form-select form-control" name="type"
                                                                formControlName="type">
                                                                <option>---Select Transaction Type</option>
                                                                <option *ngFor="let item of types" [value]="item">
                                                                    {{item}}
                                                                </option>
                                                            </select>
                                                            <div *ngIf="type?.invalid && (type?.dirty || type?.touched)"
                                                                class="alert alert-danger">
                                                                <div *ngIf="type?.errors?.['required']">
                                                                    Type is required
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div>
                                                            <label for="title">Title</label>
                                                            <input class="form-control p-1" type="text"
                                                                placeholder="Title" name="title"
                                                                formControlName="title">
                                                            <div *ngIf="title?.invalid && (title?.dirty || title?.touched)"
                                                                class="alert alert-danger">
                                                                <div *ngIf="title?.errors?.['required']">
                                                                    Title is required
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div>
                                                            <label for="amount">Amount</label>
                                                            <input id="rupiah" class="form-control p-1" type="text"
                                                                placeholder="Amount" name="amount"
                                                                formControlName="amount">
                                                            <div *ngIf="amount?.invalid && (amount?.dirty || amount?.touched)"
                                                                class="alert alert-danger">
                                                                <div *ngIf="amount?.errors?.['required']">
                                                                    Amount is required
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div>
                                                            <label for="desc">Description</label>
                                                            <textarea class="form-control p-1" type="text"
                                                                placeholder="Description" name="desc"
                                                                formControlName="desc"></textarea>
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary"
                                                            data-bs-dismiss="modal">Close</button>
                                                        <input type="submit" class="btn btn-indigo"
                                                            data-bs-dismiss="modal" value="Save">
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- <div class="modal fade" id="editTransactionModal" tabindex="-1"
                        aria-labelledby="editTransactionModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="editTransactionModalLabel">Edit Transaction</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div> -->
                                <!-- <div class="modal-body text-start shadow">
                                    <form class="pt-1" [formGroup]="form" (ngSubmit)="updateFinanceOutcome(item._id)">
                                        <div class="form-group">
                                            <div>
                                                <label for="">Transaction Type</label>
                                                <select class="form-select form-control" name="type"
                                                    formControlName="type">
                                                    <option>---Select Transaction Type</option>
                                                    <option *ngFor="let item of types" [value]="item">{{item}}</option>
                                                </select>
                                                <div *ngIf="type?.invalid && (type?.dirty || type?.touched)"
                                                    class="alert alert-danger">
                                                    <div *ngIf="type?.errors?.['required']">
                                                        Type is required
                                                    </div>
                                                </div>
                                            </div>
                                            <div>
                                                <label for="title">Title</label>
                                                <input class="form-control p-1" type="text" placeholder="Title"
                                                    name="title" formControlName="title">
                                                <div *ngIf="title?.invalid && (title?.dirty || title?.touched)"
                                                    class="alert alert-danger">
                                                    <div *ngIf="title?.errors?.['required']">
                                                        Title is required
                                                    </div>
                                                </div>
                                            </div>
                                            <div>
                                                <label for="amount">Amount</label>
                                                <input id="rupiah" class="form-control p-1" type="text"
                                                    placeholder="Amount" name="amount" formControlName="amount">
                                                <div *ngIf="amount?.invalid && (amount?.dirty || amount?.touched)"
                                                    class="alert alert-danger">
                                                    <div *ngIf="amount?.errors?.['required']">
                                                        Amount is required
                                                    </div>
                                                </div>
                                            </div>
                                            <div>
                                                <label for="desc">Description</label>
                                                <textarea class="form-control p-1" type="text" placeholder="Description"
                                                    name="desc" formControlName="desc"></textarea>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                data-bs-dismiss="modal">Close</button>
                                            <input type="submit" class="btn btn-indigo" data-bs-dismiss="modal"
                                                value="Save">
                                        </div>
                                    </form>
                                </div> -->
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>