<div *ngIf="currentpage !== ('/login') && currentpage !== ('/register')">
    <nav class="navbar navbar-expand-lg bg-navbar">
        <div class="container-fluid">
            <img src="../assets/image/logo.png" class="my-logo ms-5">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item ms-5">
                        <a class="nav-link fw-semibold text-light" routerLink="/wallet">Wallet</a>
                    </li>
                    <li class="nav-item ms-5">
                        <a class="nav-link fw-semibold text-light" routerLink="">Transaction</a>
                    </li>
                    <li class="nav-item ms-5">
                        <a class="nav-link fw-semibold text-light" routerLink="/profile">Profile</a>
                    </li>
                </ul>
                <form class="d-flex" role="search">
                    <!-- <img src="../assets/image/logo.png" class="rounded-circle my-pict" alt="..." width="40"> -->
                    <button class="btn btn-outline-light fw-semibold ms-5 me-5 text-light" type="submit" (click)="logout()">Log Out</button>
                </form>
            </div>
        </div>
    </nav>
</div>
<router-outlet></router-outlet>