.my-logo{
    width: 3%;
}

.bg-navbar{
    background-color: #3b0d99;
}

@media (max-width:767px) {
    .my-logo{
        width: 13%;
    }
}

@media (max-width:768px) {
    .my-logo{
        width: 8%;
    }
}