@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    font-family: 'Poppins', sans-serif
}

.btn-indigo{
    background-color: #3b0d99;
    color: white;
}

.myrepeat{
    background-repeat: repeat-x;
}