<div class="container-fluid">
    <div class="row">
        <div class="col-md-2" style="background-color: #ecd7c6;">
            <div class="row">
                <span class="pt-4 ps-4 fs-4">Hi {{user}}</span>
            </div>
            <div class="row pt-4 ps-5 pe-5">
                <button class="btn btn-indigo" data-bs-toggle="modal" data-bs-target="#newWalletModal">New Wallet</button>
                <div class="modal fade" id="newWalletModal" tabindex="-1"
                    aria-labelledby="newWalletModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="newWalletModalLabel">New Wallet</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body text-start">
                                <form class="pt-1" [formGroup]="form" (ngSubmit)="formSubmit()">
                                    <div class="form-group">
                                        <div>
                                            <label for="amount">Amount</label>
                                            <input class="form-control p-1" type="text" placeholder="Amount"
                                                name="amount" formControlName="amount">
                                            <div *ngIf="amount?.invalid && (amount?.dirty || amount?.touched)"
                                                class="alert alert-danger">
                                                <div *ngIf="amount?.errors?.['required']">
                                                    Amount is required
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-indigo" (click)="formSubmit()">Save changes</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row pt-4">
                <img src="../../../assets/image/wallet.png" class="myrepeat vh-100" width="100%">
            </div>
        </div>
        <div class="col-md-8 pt-4">
            <div>
                <p class="fs-4">Wallet</p>
            </div>
            <div>
                <div class="card" style="width: 25rem;" >
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Amount: {{myammount | currency:'IDR '}}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>